<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <div class="container">
      <header class="row">
        <div class="logo">Pomidoro!</div>
        {% block nav %} {% endblock nav %}
      </header>

      <main>
        <hr />
        {% block maininfo %} {% endblock maininfo %}
      </main>

      <footer>
        <hr />
        Contact me via <a href="https://github.com/mqrgo">Github</a>
      </footer>
    </div>
  </body>
</html>
