{% extends 'base.html' %}

{% block title %}
Pomidoro!
{% endblock title %}

{% block nav %}
<div class="header_button">
        <a class='button login' href="{{url_for('login')}}">Login</a>
</div>
<div class="header_button">
        <a class='button signup' href="{{url_for('signup')}}">Signup</a>
</div>
{% endblock nav %}


{% block maininfo %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ea molestias unde ipsum! Voluptatibus debitis dolore soluta officiis optio repellendus doloremque aliquid, earum, placeat nulla quisquam minus exercitationem. Dolore, amet.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit provident dolore ut a corrupti consectetur dolorem repudiandae, reiciendis neque sunt itaque? Deserunt beatae repellendus excepturi culpa numquam eius, molestias aut.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos itaque iure unde ut natus, tempora dolor esse. Omnis necessitatibus in sequi laboriosam cupiditate natus, sit soluta, quo pariatur maiores explicabo.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore doloribus aut cupiditate repudiandae vitae ratione pariatur minima voluptate! Deleniti officia sint eius esse odit facilis quisquam assumenda rem dolorum quae?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus accusamus voluptas aut? Praesentium architecto consectetur tempore cupiditate repudiandae iusto, porro consequuntur ratione error magni exercitationem sequi incidunt consequatur sunt ut.</p>
{% endblock maininfo %}
